* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
}

.canvas {
  border: black 2px solid;
  display: grid;
  grid-template-rows: repeat(20, 15px);
  grid-template-columns: repeat(20, 15px);
}

.canvas__pixel {
  width: 15px;
  height: 15px;
}