* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li > a {
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.input {
  display: flex;
  gap: 20px;
}

.artwork, .input__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.canvas, .input__canvas {
  border: black 2px solid;
  display: grid;
  grid-template-rows: repeat(20, 20px);
  grid-template-columns: repeat(20, 20px);
}

.canvas__pixel {
  width: 20px;
  height: 20px;
  border: rgba(176, 176, 176, 0.501) 1px solid;
}

header {
  font-family: 'IM Fell Great Primer SC', serif;
  display: grid;
  grid-template-columns: 30% auto 30%;
  padding: 1em 0em;
  background-color: #080808;
  color: white;
  margin-bottom: 3em;
}

.mainTitle {
  text-align: center;
  font-size: 2.5em;
}

.nav__list {
  list-style-type: none;
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  padding-right: 2em;
  padding-top: 0.2em;
}

.nav__list__item {
}

.artwork {
  display: flex;
  flex-direction: column;
}

.art-title {
  font-size: 2.5rem;
  font-family: 'IM Fell Great Primer SC', serif;
  color: purple;
}

.gallery__container {
  margin-bottom: 3em;
}